.category{
    height: auto;
    width: 100%;
    min-width: 1200px;
    position: absolute;
    display: none;
    z-index: 999;
}

.category__container{
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
}

.category__sumary{
    height: 540px;
    width: 280px;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

 .category__new, .category__like_new, .category__hoctapvanphongcoban, .category__gaming, .category__dohoa, .category__mongnhe{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    justify-content: 10px;
    padding-left: 30px;
    padding-right: 10px;
} 

.category__new{
    border-radius: 10px 10px 0 0;
}

.category__detail{
    height: 600px;
    width: 910px;
    background-color: whitesmoke;
    margin-top: 20px;
}

.category__detail__lap_top_moi, .category__detail__lap_top_like_new{
    height: 600px;
    width: 900px;
    margin-left: 15px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    display: none;
}   

.category__detail__colum{
    height: 100%;
    width: auto;
    margin-left: 50px;
}

.category__detail__branch__detail{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.category__detail__branch__name{
    cursor: pointer;
    margin-top: 50px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(0, 102, 193);
    margin-bottom: 20px;
}

.category__detail__branch .exception{
    margin-top: 80px;
}

.category__detail__branch__detail{
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}
.category__detail__branch__detail .id,.category__detail__branch__detail .state {
    display: none;
} 